{{ define "main" }}
{{ $trunc := .Site.Params.truncatePostsCharLimit }}
  <section class="taxonomy-category">
    <div class="card mb-5 perma rounded-0 ms-0">
      <div class="card-body">
        {{ if .Title }}
        <h1 class="card-title" style="font-weight: 700">Posts in: {{ .Title }}</h1>
        {{ end }}
        <div class="post-content">
          <p class="mb-0">Total: {{ len .Pages }} post{{ if ne (len .Pages) 1 }}s{{ end }}</p>
        </div>
      </div>
  </div>  
   <ul class="post-list pl-0">
      {{ range .Pages }}
      {{ $fullimg := false }}
      <div class="card {{ range .Params.categories }}{{ . }}{{ end }} mb-5">
        {{ if .Params.images }}
        <div class="post-image">
          <img src="{{ index .Params.images 0 }}" class="card-img-top w-100" alt="...">
        </div>
        {{ end }}
        <div class="card-body">
          {{- if .Site.Params.categoriesOnPosts -}}
          {{ if isset .Params "categories" }}
            {{ if ne (len .Params.categories) 0 }}
            <div class="mb-2 d-flex flex-wrap">
              {{ range .Params.categories }}
              <h4><span class="badge badge-primary">{{ . }}</span></h4>
              {{ end }}   
            </div>
            {{ end }}
          {{ end }}
          {{ end }}
          {{ if .Title }}
          <h1 class="card-title">{{ .Title }}</h1>
          {{ end }}
          <div class="post-content">
            {{- if .Site.Params.truncatePostsOnIndex -}}
            {{ .Content | truncate $trunc }}
            {{ else }}
            {{ .Content }}
            {{ end }}
          </div>
          <div class="post-meta-container">
            <a href="{{ .Permalink }}" class="u-url">
              <span class="post-meta">
                <time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
              </span>
            </a>
            {{ if .Site.Params.showCrossposts }}
            <div class="px-2 d-flex justify-content-start flex-wrap social-icons">
              {{ if .Params.bluesky }}
                <a class="icon-link no-under" {{ printf "href=%q" .Params.bluesky.link | safeHTMLAttr }} target="_blank">
                  <i class="fa-brands fa-square-bluesky fa-lg"></i>
                </a>
              {{ end }}
              {{ if .Params.pixelfed }}
              <a class="icon-link no-under" {{ printf "href=%q" (printf "https://%s/p/%s/%s" .Params.pixelfed.hostname .Params.pixelfed.username (string .Params.pixelfed.id)) | safeHTMLAttr }} target="_blank">
                  <i class="fa-brands">
                    <svg style="/* margin-top: 0.08rem; */ vertical-align: -.191em;" xmlns="http://www.w3.org/2000/svg" width="17" height="18" aria-label="Pixelfed" viewbox="0 0 17 18">
                      <rect width="17" height="17.6" rx="3" fill="currentColor"></rect>
                      <!-- Icon path -->
                      <g transform="scale(1.3) translate(-5.75, -5.3)">
                          <path fill="var(--card-bg-color)" d="M11.21 14.18h1.83c1.73 0 3.13 -1.36 3.13 -3.05c0 -1.68 -1.4 -3.05 -3.13 -3.05h-2.65c-1 0 -1.81 0.79 -1.81 1.76v6.84l2.62 -2.51Z" />
                          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" d="M12 3c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9c0 -4.97 4.03 -9 9 -9Z" />
                      </g>
                    </svg>
                  </i>
                </a>
              {{ end }}
              {{ if .Params.threads }}
                <a class="icon-link no-under" {{ printf "href=%q" .Params.threads.url | safeHTMLAttr }} target="_blank">
                  <i class="fa-brands fa-square-threads fa-lg"></i>
                </a>
              {{ end }}
              {{ if .Params.tumblr }}
              <a class="icon-link no-under" {{ printf "href=%q" (printf "https://%s/%s" .Params.tumblr.hostname (string .Params.tumblr.id)) | safeHTMLAttr }} target="_blank">
                <i class="fa-brands fa-square-tumblr fa-lg"></i>
              </a>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </ul>
  </section>
{{ end }}