{{ define "main" }}
{{ $trunc := .Site.Params.truncatePostsCharLimit }}
  <section class="taxonomy-category">
    <div class="card mb-5 perma rounded-0 ms-0">
      <div class="card-body">
        {{ if .Title }}
        <h1 class="card-title" style="font-weight: 700">Posts in: {{ .Title }}</h1>
        {{ end }}
        <div class="post-content">
          <p class="mb-0">Total: {{ len .Pages }} post{{ if ne (len .Pages) 1 }}s{{ end }}</p>
        </div>
      </div>
  </div>  
   <ul class="post-list pl-0">
      {{ range .Pages }}
      {{ $fullimg := false }}
      <div class="card {{ range .Params.categories }}{{ . }}{{ end }} mb-5">
        {{ if .Params.images }}
        <div class="post-image">
          <img src="{{ index .Params.images 0 }}" class="card-img-top w-100" alt="...">
        </div>
        {{ end }}
        <div class="card-body">
          {{- if .Site.Params.categoriesOnPosts -}}
          {{ if isset .Params "categories" }}
            {{ if ne (len .Params.categories) 0 }}
            <div class="mb-2 d-flex flex-wrap">
              {{ range .Params.categories }}
              <h4><span class="badge badge-primary">{{ . }}</span></h4>
              {{ end }}   
            </div>
            {{ end }}
          {{ end }}
          {{ end }}
          {{ if .Title }}
          <h1 class="card-title">{{ .Title }}</h1>
          {{ end }}
          <div class="post-content">
            {{- if .Site.Params.truncatePostsOnIndex -}}
            {{ .Content | truncate $trunc }}
            {{ else }}
            {{ .Content }}
            {{ end }}
          </div>
          <div class="post-meta-container">
            <a href="{{ .Permalink }}" class="u-url">
              <span class="post-meta">
                <time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
              </span>
            </a>
            {{ if .Site.Params.showCrossposts }}
            <div class="px-2 d-flex justify-content-start flex-wrap social-icons">
              {{ if .Params.bluesky }}
                <a class="icon-link no-under" {{ printf "href=%q" .Params.bluesky.link | safeHTMLAttr }} target="_blank">
                  <i class="bi bi-bluesky"></i>
                </a>
              {{ end }}
              {{ if .Params.pixelfed }}
                <a class="icon-link no-under" {{ printf "href=%q" (printf "https://%s/p/%s/%s" .Params.pixelfed.hostname .Params.pixelfed.username (string .Params.pixelfed.id)) | safeHTMLAttr }} target="_blank">
                  <svg width="1rem" height="1rem" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" style="display: inline-block; vertical-align: -0.125em;"><path d="M25 50C11.193 50 0 38.807 0 25S11.193 0 25 0s25 11.193 25 25-11.193 25-25 25zm-1.985-19.542h4.586c4.32 0 7.823-3.41 7.823-7.615 0-4.206-3.502-7.616-7.823-7.616h-6.619c-2.492 0-4.513 1.967-4.513 4.394v17.1l6.546-6.263z" fill="currentColor"/></svg>
                </a>
              {{ end }}
              {{ if .Params.threads }}
                <a class="icon-link no-under" {{ printf "href=%q" .Params.threads.url | safeHTMLAttr }} target="_blank">
                  <i class="bi bi-threads"></i>
                </a>
              {{ end }}
              {{ if .Params.tumblr }}
              <a class="icon-link no-under" {{ printf "href=%q" (printf "https://%s/%s" .Params.tumblr.hostname (string .Params.tumblr.id)) | safeHTMLAttr }} target="_blank">
                <svg width="1rem" height="1rem" viewBox="-4 0 20 20" xmlns="http://www.w3.org/2000/svg" style="display: inline-block; vertical-align: -0.125em;"><path d="M11.00148,15.975 L12,18.827 C11.622944,19.358 9.91209,19.973 8.376708,19.998 C3.82592,20.073 2.088955,16.895 2.088955,14.657 L2.088955,8 L0,8 L0,5.539 C3.169989,4.445 3.931413,1.708 4.110018,0.149 C4.122552,0.042 4.210288,0 4.261467,0 L7.311341,0 L7.311341,5 L11.489251,5 L11.489251,8 L7.311341,8 L7.311341,14.349 C7.311341,15.195 7.646619,16.363 9.318827,16.32 C9.873444,16.307 10.612934,16.152 11.00148,15.975" fill="currentColor"/></svg>
              </a>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </ul>
  </section>
{{ end }}